
footer{
    background-color: purple;
    font-size: 1.1em;

}

p{
    color: white;
    font-weight: bold;

}
body{
    color: white;
    background-color: black;
}
header{
    background-image: url(../img/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
h1{
    position: relative;
    top: 150px;
    font-weight: bold;
    font-variant-caps: small-caps;
    text-align:center;
    font-size: 6em;
}
h2{
    text-transform: uppercase;
    font-variant-caps: small-caps;
    border-bottom: 3px dotted purple;
}
h2, h3{
    width: 800px;
    font-size: 1.2em;
}
.navbar{
    background-color: purple;
}
.gomb{
    text-decoration: none;
    color: white;
}
button{
    background-color: purple;
}
a{
    text-decoration: none;
    color: white;
}
#vasarlas:hover{
    background-color: purple;
}