footer, .navbar, button{
    background-color: purple;
    font-size: 1.1rem;
}
p{
    text-align: justify;
    text-indent: 15px;
}
body{
    color: white;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    background-color: rgb(120 75 132 /0.7);
}
header{
    background-image: url(../img/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
h1{
    position: relative;
    top: 135px;
    font-weight: bold;
    font-variant-caps: small-caps;
    text-align:center;
    font-size: 6rem;
}
h2{
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border-bottom: 5px dotted purple;
}
h3{
    font-size: 1.1rem;
    font-style: italic;
}
a{
    text-decoration: none;
    color: white;
}
.navbar-toggler {
    border-color: white;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}